In [2]:
import pandas as pd

In [11]:
tabela = pd.read_csv("brasileirao.csv")

tabela.tail(10)

,Time,Pontos,Jogos,Vitórias,Empates,Derrotas,Gols Pró,Gols Contra,Saldo de Gols,%
10,São Paulo,53,38,14,11,13,40,38,2,46
11,Cuiabá,51,38,14,9,15,40,39,1,44
12,Corinthians,50,38,12,14,12,47,48,-1,43
13,Cruzeiro,47,38,11,14,13,35,32,3,41
14,Vasco,45,38,12,9,17,41,51,-10,39
15,Bahia,44,38,12,8,18,50,53,-3,38
16,Santos,43,38,11,10,17,39,64,-25,37
17,Goiás,38,38,9,11,18,36,53,-17,33
18,Coritiba,30,38,8,6,24,41,73,-32,26
19,América-MG,24,38,5,9,24,42,81,-39,21